html,
body {
  font-size: 16px;
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  border: 1px solid #666;
  margin-top: 15px;
  padding: 15px 5px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-bottom: 15px;
}

.common-title {
  font-size: 1rem;
  font-weight: bold;
}

.dataset-display {
  border: 1px solid #000;
  padding: 5px;
  background-color: rgb(214, 211, 211);
}

.refresh-dataset-button {
  margin-top: 5px;
}

.tile-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tile-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #666;
  border-radius: 5px;
  margin: 5px;
}

.tile-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;;
}

.tile-value {
  font-size: 18px;
  font-weight: bold;
}

@media (min-width:1025px) {
  .tile-list {
    flex-direction: row;
  }

  .row {
    width: 100%;
  }

  .content {
    padding: 15px;
  }
}

@media (min-width:1281px) {
  .tile-list {
    flex-direction: row;
    padding: 0 5px;
  }

  .row {
    width: 100%;
  }
  
  .content {
    padding: 15px;
  }
}